body, html {
  scroll-behavior: smooth;
}
.h1-pink{
    font-size: 48px;
    color:#ED1673
}
.h1-white{
    color:white;
    display: inline
}
.h1-black{
    display: inline
}
.legend-white{
    color: white;
    display: inline;
}
h5{
    text-transform: initial
}
.float-div{
    background-color:#ED1673
}
.vertical-legend{
    z-index: 999999999; 
    position: absolute; 
    left:40px; 
    bottom:80px;
    writing-mode: tb-rl; 
    -webkit-transform: rotate(180deg);
} 
.option-conquest-parent{
}
.checkbox-circuit{
    height: unset;
    width: inherit;
    margin: 10px;
}

.option-conquest-parent:hover > .option-conquest:hover {
    filter: none;
}
.option-conquest-parent:hover > .option-conquest:hover {
    filter: none;
}
.option-conquest{    
    filter: opacity(0.7);
}
.h5-black{
    font-style: normal;
    font-weight: normal;
    color: #000000;
}
.required:after {
    content:" *";
    color: red;
}
.h4-pink{
    font-size: 34px;
    color:#ED1673
}
/*.option-conquest:hover{
    cursor: pointer;
    padding: 0px;
}*/
